.LoginScreen {
    position: relative;
    height: 100%;
}
.LoginScreen__background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.537);
    
}

.LoginScreen__gradient {
    width: 100%;
   
    z-index: 1;
    height: 100vh;

}
.LoginScreen__body {
    position: absolute;
    top: 34%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    
    padding: 20px ;
    left: 0;
    right: 0;
}
.LoginScreen__body > h1 {
    font-size : 3.2em;
    margin-bottom: 20px;
    color: #fff;
}
.LoginScreen__body > h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}
.LoginScreen__body > h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #00ED82;
    font-family: 'Graphik Web', 'Graphik', sans-serif;

}
.LoginScreen__body > h3:hover {
    cursor: pointer;
    text-decoration: underline;
}
.LoginScreen__input {
    margin: 20px;
    
}
.LoginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 31px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.LoginScreen__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    background-color:  #2CE290 #2a9692 #00ED82
 ;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.LoginScreen__getStart {

    padding: 16px 20px;
    font-size: 1.175rem;
    background-color: #00ED82;
    color: #fff;
    width: 55%;
    border: none;
    max-width: 600px;
    font-weight: 400;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
}
.LoginScreen__Style {
    position: relative;
    opacity: 0.2;
    top: -700px;
    left: -20px;
    width: 101%;
    height: 100%;
}
