.SignUpScreen {
    position: relative;
    height: 100%;
}
.SignUpScreen__background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;
}
.SignUpScreen__body {
    position: absolute;
    margin-top: -300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 100px ;
    left: 0;
    right: 0;
}

.SignUpScreen__body > h1 {
    font-size : 3em;
    margin-bottom: 20px; 
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}

.SignUpScreen__body > h3 {
    font-size: 1rem;
    font-weight: 500;
    color: gray;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}
.SignUpScreen__HeaderPlans {
    margin-top: 280px;
    display: flex;
    margin-left: 0%;
    margin-right: auto; 
}