.Nav__logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 10px;
    cursor: pointer;
   
}

.Nav__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border: none;
   
}
.Nav__button::before,
.Nav__button::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  background: linear-gradient(45deg,#fff,#34A976,#89A9A3,rgba(247, 247, 25, 0.963),#3C534F,#286CA0);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 25s linear infinite;
}

.Nav__button::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
.nav__contents {
    display: flex;
    justify-content: space-between;
   
}

.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 40px;
    z-index: 1;
    /*Animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
    
}
.nav__black {
  background-color: rgb(0, 0, 0);
  opacity: 1;
}