.BannerDef {
    position: absolute;
    top: 180%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  
}
.BannerDef__Title {
    position: absolute;
    margin-top: 40px;
    margin-right: 840px;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 110px ;
    left: 0;
    right: 0;
    text-align: justify;
    font-size : 2.7rem; 
    margin-left: 40px;
    font-family: "YAD1aYG82rc 0", _fb_, auto;
}
.BannerDef__Card1 {
    position: relative;
    top: 19%;
    left: 55.55%;
    width: 20%;
   
}
.BannerDef__Card2 {
    position: relative;
    top: 20%;
    left: 55.1%;
    width: 20%;
}
.BannerDef__Card3 {
    position: relative;
    top: 60%;
    left: 15%;
    width: 20%;
}
.BannerDef__Card4 {
    position: relative;
    top: 60%;
    left: 15%;
    width: 20%;
}
.BannerDef__img {
    position: absolute;
    top: 20%;
    left: 36%;
    width: 20%;
    
}
.Cover__background__bg {
    position: absolute;
    margin-top: 150px;
    margin-right: 800px;
    background-color: gray;
    opacity: 0.2;
    border-radius: 10px;
    border-color: black;
    text-align: justify;
    margin-left: 140px;
    max-width: 900px;
    padding: 50px 250px 250px;
}

.Cover__background__body {
    position: absolute;
    margin-top: 10px;
    margin-right: 750px;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 110px ;
    left: 0;
    right: 0;
}
  
.Cover__background__body > h1 {
    text-align: justify;
    font-size : 3em; 
    margin-left: 40px;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}
  
.Cover__background__body > h3 {
    text-align: justify;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}
  
  